body {
    background-color: rgb(209, 218, 223);
}
.container {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    width: 350px;
}
.container img {
    height: 20em;
    padding: 15px;
    margin: 0 auto;
    border-radius: 2rem;
}
.container h1{
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 15px;
    text-align: center;
}
.container p {
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 2rem;
    color: gray;
}
